/**************/
/* VRAGEN */

/******
-Hoe verander ik de input kleur?
-Hoe positioneer ik de knop hover blijvend op de goede plaats op afbeeldingen?
********/



/**************/
/* CSS REMEDY */
/**************/
*, *::after, *::before {
  box-sizing:border-box;  
}


/*********************/
/* CUSTOM PROPERTIES */
/*********************/
:root {
	/* startje */
	--color-text:#111;
	--color-text-licht: #ffffff;
	--color-background:#ffffff;
	--margin-content: 1em 0 2em 0;
	--bold-tekst: 600;
	--input-background: rgb(230, 232, 234);
	--dark-background: black;
	--merk-kleur: red;
	--input-text-color: rgb(0, 0, 0);
}


/****************/
/* JOUW STYLING */
/****************/

/* jouw code */

body{
	margin: 0;
	padding: 0;
	font-family: "Noto Sans", sans-serif;
	background-color: var(--color-background);
	color: var(--color-text);
}

/* navigatie */

header nav img{
	width: 2em;
	height: auto;
	margin-right: 2em;
}

header{
	display: flex;
	box-shadow: 0 0.2px 6px #aeaeae;
	margin: 0 0 1.5em 0;
	align-items: center;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 1000;
	background-color: var(--color-background);
	padding: 1em 0.8em 1em 0.8em;
}

header nav:first-of-type{
	display: flex;
	align-items: center;
}

header nav:nth-of-type(2){
	display: flex;
	align-items: center;
	justify-content: end;
}

header nav:first-of-type a:nth-of-type(1){
	color: var(--color-text);
	font-weight: var(--bold-tekst);
	text-decoration: none;
	width: fit-content;
	align-self: center;
}

nav:first-of-type a:nth-of-type(2){
	color: var(--color-text);
	font-weight: var(--bold-tekst);
	text-decoration: none;
	width: fit-content;
	align-self: center;
	margin-left: 3em;
}

nav:nth-of-type(2) img{
	width: 1.8em;
	height: auto;
	margin: 0 .2em 0 .2em;
}

nav:nth-of-type(2) img:nth-of-type(2){
	width: 3.2em;
	height: auto;
}

/* home create knoppen responsiveness */
@media(max-width: 850px){
	header nav:nth-of-type(1) a:nth-of-type(2){
		display: none;
	}
}

@media (min-width: 850px){
	header nav:nth-of-type(1) a:first-of-type{
		background-color: var(--dark-background);
		padding: 0.8em 1em 0.8em 1em;
		border-radius: 2em;
		color: var(--color-text-licht);   
	}	
}
/*-------*/

form{
	display: flex;
	align-items: center;
	padding: 0.3em 1em;
	border-radius: 1.8em;
	width: 100%;
	margin-left: 1.5em;

}

form img{
	width: 1.4em;
	height: auto;
	margin-left: 0.4em;
}

form input{
	border: none;
	outline: none;
	background-color: transparent;
	width: 100%;
	font-size: 1em;
	color: var(--input-text-color);
}

form input::placeholder {
	color: var(--color-text);
}

@media (max-width: 600px){
	form input{
		display: none;
	}

	form {
        padding: 0.3em;
        margin: 0; 
		width: fit-content;
		display: flex;
    }

	form img {
        margin-right: 0; 
    }

	header nav:nth-of-type(1) a:first-of-type{
		margin-right: 1em;
	}
}

@media(min-width: 600px){
	form{
	padding: 0.3em 7em 0.3em 0.4em;
	background-color: var(--input-background);
	border-radius: 1.8em;
	justify-content: start;
	display: flex;
	align-items: center;
	text-decoration: none;
	margin: 0 1.5em 0 1.5em;
	}

	form img{
		margin: .3em .7em .3em .7em;
	}
}

main ul{
	column-count: 2;
	column-gap: 1.5em;
	margin: 7em 1em 8em 1em;
	list-style: none;
	padding: 0;
	font-weight: 600;
}

img,a{
	width: 100%;
	height: auto;
	display: block;
	padding: 0;
}

li div img{
	width: 20%;
	margin-right: .5em;
}

li div{
	display: flex;
	align-items: center;
	margin: var(--margin-content);
}


li > a > img{
	box-shadow: 0 0.2px 6px #aeaeae;
	border-radius: 1.2em;
}

li {
	break-inside: avoid;
	position: relative;
 }

 li button{
	border: 2px solid var(--merk-kleur);
	position: absolute;
	top: 12%;
	left: 75%;
	transform: translate(-50%, -50%);
	padding: 15px 15px;
	background-color: var(--merk-kleur);
	color: var(--color-background);
	border-radius: 2em;
	cursor: pointer;
	opacity: 0;
	font-weight: 600;
 }

 li a:nth-of-type(2){
	display: flex;
	align-items: center;
	position: absolute;
	top: 5%;
	left: 8%;
	color :var(--color-background);
	font-weight: var(--bold-tekst);
	opacity: 0;
	background-color: rgba(75, 75, 75, 0.34);
	width: fit-content;
	padding: .8em .8em;
	border-radius: 2em;
	text-decoration: none;
 }

 li a:nth-of-type(2) img {
	width: 1.2em;
	margin-left: .2em;
	color: white;
	border-radius: 0;
	box-shadow: none;
 }

 li:hover button{
	transition: .5s;
	opacity: 1;
 }

 li:hover a:nth-of-type(2){
	transition: .5s;
	opacity: 1;
	text-decoration: none;
 }

ul a{
	text-decoration: none;
	color: black;
	font-size: .8em;
}
ul a:hover{
	text-decoration: underline;
}



@media (min-width: 750px){
	main ul{
		column-count: 3;
		margin-left: 2.5em;
		margin-right: 2.5em;
		column-gap: 2.2em;
	} 
}

@media (min-width: 1000px){
	main ul{
		column-count: 4;
		margin-left: 7%;
		margin-right: 7%;
	} 
}

@media (min-width: 1200px){
	main ul{
		column-count: 5;
		margin-left: 7%;
		margin-right: 7%;
	} 
}





/* test------------------------ */


footer a{
	width: 4em;
	height: auto;
	background-color: white;
	padding: 1em;
	border-radius: 4em;
	box-shadow: 0 0.2px 6px #aeaeae;
	position: fixed;
    bottom: 1em;
    right: 1em;
    z-index: 1000;
}

h2{
	margin: .5em 0 0 0;
}

h3{
	margin: .5em 0 0 0;
	font-weight: lighter;
	font-size: .99em;
	color: rgb(100, 99, 99);
}

img[alt="Profiel foto in het groot"]{
	width: 15%;
	height: auto;
	display: flex;
	justify-content: center;
	margin-top: 2em;
	border: 2px solid rgb(62, 62, 62);
	border-radius: 5em;
}

#filterEnPlusContainer img{
	width: 2.5%;
	height: auto;
	margin-top: 2em;
}

#filterEnPlusContainer{
	display: flex;
	justify-content: space-between;
	margin: 0 2em 0 2em
}


.containerProfielContent{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.profielKnoppen button{
	padding: 1em;
	border-radius: 1.5em;
	border: none;
	box-shadow: 0 0.2px 6px #aeaeae;
	margin: .4em;
	font-weight: 600;
}

.profielLinks{
	display: flex;
	justify-content: center;
}

.profielLinks a{
	margin: 1em .8em 1em .8em;
	font-weight: 600;
	width: fit-content;
}

/* Saved content */
.saved{
	display: flex;
	margin-top: 2em;
}

.pinsInfo{
	display: flex;
	flex-direction: column;
	align-items: center;
}

.pinsInfo img{
	width: 50%;
	height: auto;
}

h5{
	margin: 0;
	font-size: 1.2em;
}

h6{
	margin: 0;
	font-size: .8em;
}

h7{
	margin: 0;
	font-size: .8em;
}

@media (max-width: 850px){
	.saved{
		flex-direction: column;
	}

	.pinsInfo{
		justify-content: center;
		margin-bottom: 2em;
	}
}

.profielKnoppen button.geklikt{
	background-color: var(--dark-background);
	color: white;
	font-weight: bolder;
}

/*.containerProfielContent{
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(6, 6em);	
	grid-auto-flow: dense;
	grid-gap: 0.8em;
	margin: 2em;
} */